@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 60%;
  padding: 0;
  margin: 0;
}
/* .container { */
/* max-width: 500px; */
/* margin: 30px auto; */
/* overflow: auto; */
/* min-height: 300px; */
/* border: 1px solid steelblue; */
/* padding: 30px; */
/* border-radius: 5px; */
/* } */
