.Jumbotron {
  background-image: url("https://cdn.dribbble.com/users/721524/screenshots/4247264/speakers.png?compress=1&resize=800x300");
  opacity: 85%;
}
h1,
p {
  font-family: "Fira Sans", sans-serif;
}
